<section class="first-block">
  <h2 class="first-block__header uppercase-header">blok pierwszy</h2>
  <form [formGroup]="optionsForm">
    <fieldset
      class="first-block__radio-buttons"
      role="radiogroup"
      aria-label="Wybierz opcję"
    >
      @for(radioButton of radioButtonsConfig; track radioButton.id) {
      <label
        class="first-block__radio-buttons__label"
        [for]="radioButton.id"
        [id]="radioButton.id + 'Label'"
      >
        <input
          name="options"
          formControlName="options"
          class="first-block__radio-buttons__label__radio-button"
          type="radio"
          [id]="radioButton.id"
          [value]="radioButton.value"
          [attr.aria-labelledby]="radioButton.id"
        />
        {{ radioButton.text }}</label
      ><br />

      }
    </fieldset>
  </form>
</section>
