@import "variables.scss";

.footer {
  position: relative;
  bottom: 0;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 1rem 1rem;
  background-color: $black;

  &__css-is-awesome-logo {
    height: 5.6rem;
    width: 5.6rem;
    font-size: 1.25rem;
    padding-left: 0.4rem;
    text-transform: uppercase;
    border: 1px solid $dark-grey;

    color: $dark-grey;
    transition: all 0.2s ease-in-out;

    &__is-word {
      transition: all 0.2s ease-in-out;
      color: $dark-grey;
    }

    &:hover,
    &:hover > &__is-word {
      color: $dirty-white;
      border-color: $orange;
    }
  }

  &__company-name {
    color: $dark-grey;
    position: relative;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;

    &:hover {
      color: $dirty-white;
    }

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      border-top: 0.5px solid $dark-grey;
      width: 2.5rem;
      transform: translateY(-0.25rem);
      top: 65%;
      left: -65%;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      border-top: 0.5px solid $dark-grey;
      width: 2.5rem;
      transform: translateY(-0.25rem);
      top: 65%;
      left: 104%;
    }
  }

  &__navigation {
    position: relative;

    &__button {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      color: $light-grey;
      background-color: inherit;
      border: 1px solid $dark-grey;
      padding: 0.7rem 3.5rem;

      &:focus-visible {
        outline: 0.4rem solid $orange;
        outline-offset: 0.45rem;
      }

      &__icon {
        margin-left: 0.7rem;
        font-size: 0.9rem;
      }

      &:hover {
        color: $dirty-white;
        border-color: $dirty-white;
      }
    }
  }
}

@media (max-width: 700px) {
  .footer__company-name {
    display: none;
  }
}

@media (min-width: 800px) {
  .footer {
    padding: 1rem 2rem;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 1rem 3rem;
  }
}
