@import "variables.scss";

.footer {
  position: relative;
  bottom: 0;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 1rem 1rem;
  background-color: $black;

  &__logo {
    height: 5.6rem;
    width: 5.6rem;
    font-size: 1.25rem;
    padding-left: 0.4rem;
    text-transform: uppercase;
    border: 1px solid $dark-grey;

    color: $dark-grey;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #fff;
      border-color: $orange;
    }

    &__is-word {
      color: $dark-grey;
    }
  }

  &__company-name {
    color: $dark-grey;
    position: relative;
    font-size: 1.1rem;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #fff;
    }

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      border-top: 0.5px solid $dark-grey;
      width: 2.5rem;
      transform: translateY(-0.25rem);
      top: 65%;
      left: -65%;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      border-top: 0.5px solid $dark-grey;
      width: 2.5rem;
      transform: translateY(-0.25rem);
      top: 65%;
      left: 104%;
    }
  }

  &__navigation {
    position: relative;

    &__button {
      font-size: 1.1rem;
      display: flex;
      align-items: center;
      color: $light-grey;
      background-color: inherit;
      border: 1px solid $dark-grey;
      padding: 0.7rem 3.5rem;

      &:focus {
        outline: 0.4rem solid $orange;
        outline-offset: 0.45rem;
      }

      &__icon {
        margin-left: 0.7rem;
        font-size: 0.9rem;
      }

      &:hover {
        color: $dirty-white;
        border-color: $dirty-white;
      }
    }

    &__menu {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      background: $dirty-white;
      color: $black;
      text-align: center;
      transition: top 0.5s ease;

      &__list {
        list-style: none;
        margin: 0;
        padding: 0.7rem 0;
        flex-direction: column;

        &__item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin: 0.2rem 1rem;

          &__button {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            cursor: pointer;
            text-decoration: none;

            &__icon {
              font-size: 0.8rem;
            }

            &__text {
              margin-left: 0.2rem;
              font-size: 0.8rem;
              text-transform: uppercase;

              color: $black;
            }

            &:focus {
              outline: max(3px, 0.15rem) solid currentColor;
              outline-offset: max(3px, 0.15rem);
            }

            &:hover > p,
            &:hover > i {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

.menu-displayed {
  top: -6.6rem;
  z-index: 999999;
}

@media (max-width: 700px) {
  .footer__company-name {
    display: none;
  }
}

@media (min-width: 800px) {
  .footer {
    padding: 1rem 2rem;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 1rem 3rem;
  }
}
