<footer class="footer">
  <div class="footer__css-is-awesome-logo">
    <div class="footer__css-is-awesome-logo__square"></div>
    css
    <p class="footer__css-is-awesome-logo__is-word">is</p>
    awesome
  </div>
  <p class="footer__company-name">nabthat</p>
  <div class="footer__navigation">
    <button
      type="button"
      class="button footer__navigation__button"
      (click)="onDisplayMenuClick()"
    >
      <span>Pokaż</span>
      @if(!isMenuDisplayed) {
      <i
        class="button footer__navigation__button__icon fa-solid fa-chevron-up"
      ></i>
      } @else {
      <i
        class="button footer__navigation__button__icon fa-solid fa-chevron-down"
      ></i>
      }
    </button>
    <app-menu [isMenuDisplayed]="isMenuDisplayed"></app-menu>
  </div>
</footer>
